@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('components\\card\\card.css');
:root{
    --black:rgb(20 20 20);
    --red:#e50914;
    --white:#fff;
    --font:'Roboto', sans-serif;
    --chipcolor:grey;
}

*{
    background-color: var(--black);
    font-family: var(--font);
    box-sizing: border-box;
}
.shadow{
    box-shadow: 5px 5px 8px 0 grey;
}
h1,h2,h3,h4,h5,h6{
    color: var(--white);
}


.small-square-size{
        width: 2.5rem;
        height: 2.5rem;
}
.medium-square-size{
    width: 5rem;
    height: 5rem;
}
.large-square-size{
    width: 10rem;
    height: 10rem;
}

.rounded-image{
    border-radius: 50%;
    margin-top: 5rem;
}

.grid-container{
    display: grid;
    grid-template-areas: "header1 header2"
    "sidebar main"
    "footer footer";
    grid-template-columns: 1fr 5fr;
    
}
.navbar{
    grid-area: header1;
}

.nav-links{
    grid-area: header2;
    margin-left: auto;
}
.nav-home{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.nav-docs{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
}
.nav-docs{
    display: inline-block;
}
.nav-title{
    display: inline-block;
    margin: 0;
    color: var(--red);
    font-size: 3rem;
    font-weight: 600;
}
.nav-title-short{
    color: var(--white);
    font-size: 2rem;
}
.main-content{
    grid-area: main;
    margin-left: 1rem;
}

.sidebar{
    grid-area: sidebar;
    color: var(--white);
    position: sticky;
    top: 1rem;
    height: 98vh;
}

.side-list{
    list-style: none;
    padding: 0;
    overflow-y:auto;
    height: 80vh;
}

.list-items{
    padding: 1rem;
    border-radius: 10px;
    
}
.list-items:hover{
    background-color: grey;
}

a{
    text-decoration: none;
}
a:visited{
    color: var(--white);
}

.badge__online{
    position: absolute;
    margin-left: 3rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    background-color: limegreen;
}
.text-heading-dismiss{
    background-color: var(--white);
    margin-left:1rem;
}

.text-heading{
    background-color: var(--white);
}

.text{
    background-color: var(--white);
    margin: 0rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-section{
    background-color: var(--white);
    border-radius: 1rem;
}
.btn{ 
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0rem 1rem 1rem;
    cursor: pointer;
}
.btn-primary{
    background-color: var(--red);
    color: var(--white);
}
.btn-secondary{
    background-color: var(--white);
    color: var(--black);
    outline: 0.1rem solid var(--black);
}

.preview-and-code{
    display: flex;
    justify-content: space-between;
}

/* basic cards */
.basic-card{
    width: 20rem;
    background-color: var(--white);
    border-radius: 5px;
}

.card-image{
    width: 20rem;
    border-radius: 5px 5px 0px 0px;
}
.card-title{
    background-color: var(--white);
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 0rem;
}
.card-subTitle{
    background-color: var(--white);
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 0rem;
}

.card-text{
    background-color: var(--white);
    font-weight: 400;
    margin-left: 1rem;
}

.card-btn{
    background-color: transparent;
    color: var(--red);
    border: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.icon-btn{
    background-color: transparent;
    color: var(--red);
    border: none;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1rem;
}

.visibility-hidden{
    visibility: hidden;
}
.fa-heart{
    background-color: transparent;
    color: #666666;
    font-size: 1.2rem;
}
.fa-share-alt{
    background-color: transparent;
    color: #666666;
    font-size: 1.2rem;
}

.fa-ellipsis-v{
    background-color: transparent;
    color: #666666;
    font-size: 1.2rem;
}
/* basic card ends */

/* Basic with Text over Media */
.position-relative-card{
    position: relative;
}
.absolute-card-title{
    position: absolute;
    top: 9rem;
    background-color: transparent;
    color: var(--white);
}

.absolute-card-subtitle{
    position: absolute;
    top: 11rem;
    background-color: transparent;
    color: var(--white);
}

/* Basic with Text over Media ends */

/* Basic with header starts */
.position-relative-imagecard{
    position: relative;
    bottom: 0rem;
    
}
.absolute-headercard-title{
    position: absolute;
    top: 0rem;
    background-color: transparent;
    color: var(--black);
}

.absolute-headercard-subtitle{
    position: absolute;
    top: 2rem;
    background-color: transparent;
    color: var(--black);
}

.headercard-image{
    margin-top: 4rem;
    background-color: transparent;
    color: var(--black);
    border-radius: 0;
}
/* Basic with header ends */

.display-zero{
    display: none !important;
}

/* chips starts */

.chip-container{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 18rem;
    background-color: var(--white);
    padding: 3rem 0rem 0.5rem 1rem;
    border-radius: 5px;
}

.chip-stacked-container{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    background-color: var(--white);
    padding: 3rem 1rem 0.5rem 1rem;
    border-radius: 5px;
}
.chip{
    border-radius: 1rem;
    background-color: var(--chipcolor);
    text-align: center;
    padding: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    color: white;
    position: relative;
}

.chip-primary{
    background-color: var(--red);
}

.chip-icon-primary{
    background-color: transparent;
    float: right;
    padding: 2px;
}
.chip-secondary{
    background-color: transparent;
    color: var(--red);
    border: 1px solid var(--red);
}

.chip-icon-secondary{
    background-color: transparent;
    color: var(--red);
    float: right;
    padding: 2px;
}
/* chip ends */

/* drawer starts */
.drawer{
    display: grid;
    grid-template-areas: 'd n'
                         'd t';
    height: 15rem;
    background-color: var(--white);
}
.drawer-nav{
    grid-area: n;
    color: var(--white);
    /* margin-left: 1rem; */
    background-color: var(--red);
    padding: 6px;
    
}

.drawer-text{
    grid-area: t;
    color: var(--black);
    padding: 6px;
    /* margin-left: 1rem; */
    overflow: auto;
    height: 9rem;
    background-color: var(--white);
}
.drawer-list{
    grid-area: d;
    color: var(--black);
    background-color: var(--white);
    overflow: auto;
}
.drawer-unordered-list{
    list-style: none;
    padding: 8px;
    background-color: var(--white);
    color: var(--black);
}

.drawer-list-item{
    background-color: var(--white);
}

.list-icon{
    background-color: var(--white);
}
/* drawer ends */

/* header starts  */
.navbar-component{
    display: flex;
    background-color: var(--black);
    height: 5rem;
    align-items: center;
}

.hamburger-lines{
    width: 1.2rem;
    height: 4px;
    color: var(--white);
    background-color: red;
    margin-bottom: 3px;
}
.navbar-title{
    margin-right: auto;   
    color: var(--red);
    font-size: 32px;
    font-weight: 600;
    /* margin-top: 0rem;
    padding: 0rem; */
    margin-left: 1rem;
}

.searchbar{
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    padding: 6px;
}
.navbar-icons{
    margin-left: 1rem;
    color: var(--white);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
}
/* header ends  */

/* badges starts */

.badges{
    display: inline-block;
    position: relative;
}
.wishlist-badge{
    position: absolute;
    
    bottom: 0.9rem;
    left: 1.7rem;

    overflow: hidden;
    text-overflow: ellipsis;
    width: 1.2rem; 
    height: 1.2rem; 
    text-align: center;
    line-height: 1.2rem;
    
    margin: auto;
    border-radius: 2rem;
    color: var(--white);
    background-color: var(--red);
    font-size: 11px;
}

.profile-image{
    border-radius: 50%;
}
.profile-badge{
    position: absolute;
    display: inline-block;
    bottom: 6px;
    right:8px;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.online-badge{
    background-color: limegreen;
}

.busy-badge{
    background-color: rgb(196, 1, 1);
}

.offline-badge{
    background-color: grey;
}

.snackbar{
    display: inline-block;
    background-color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
}

.snackbar-text{
    display: inline-block;
    background-color: var(--white);
    color: var(--black);
}

.liveDemo-btn{
    display: block;
    background-color: var(--red);
    border: none;
    margin-top: 1rem;
    color: var(--white);
    padding: 8px;
    border-radius: 5px;
}

#snackbar-working{
    display: none;
    position: fixed;
    bottom: 0rem;
    left: 45rem;
    
}

.dialog{
    display: inline-block;
    background-color: var(--white);
    padding: 5px 15px;
    border-radius: 5px;
}

.dialog-title{
    font-weight: 600;
}

.dialog-text{
    background-color: var(--white);
    color: var(--black);
}

.dialog-btn{
    background-color: transparent;
    color: var(--red);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
/* tabs */
.tabs{
    display: inline-block;
    background-color: var(--white);
    border-radius: 5px;
    padding: 9px;
}

.tab-btn{
    background-color: transparent;
    color: var(--red);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}


.tabs-text{
    background-color: var(--white);
    
}

#second-para{
    display: none;
}