.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18rem;
    background-color: var(--white);
    border-radius: 1rem;
    justify-content: center;
    
}
.card-horizontal{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 31rem;
    background-color: var(--white);
    border-radius: 1rem;
    justify-content: center;
    
}
.horizontal-card-details{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;
}

.card-text-overlay{
    position: absolute;
    z-index: 2;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    background-color: var(--black); 
    color: var(--white);
}


.card-align-item-center{
    align-items: center;
}

.card-align-item-start{
    align-items: start;
}
.stock-text{
    position: absolute;
    z-index: 3;
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
    opacity: 1;
    align-self: center;
}

.ecommerce-image{
    width:10rem;
    align-self: center;
}
.ecommerce-description,
.description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    background-color: var(--white);
    overflow: hidden;
    margin: 1rem 0rem 1rem 1rem;
}

.ecommerce-price{
    background-color: var(--white);
    margin-left: 1rem;
    margin-top: 1rem;
    color: var(--red);
}

.product-title,
.title{
    background-color: var(--white);
    margin-left: 1rem;
}